#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

input {
    padding: 1.5rem 1rem !important
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}